<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
      
<div class="container">
    
    <div class="row">
        <div class="col-sm-8 offset-sm-2">
            <div class="card">
                <div class="card-header">
                    BAN HANG NUOC GIAI KHAT
                </div>
                <div class="card-body">
                   <table class="table table-bordred">
                       <tbody>
                           <tr>
                               <td>STT</td>
                               <td>Ten hang</td>
                               <td>So luong</td>
                               <td>Don gia</td>
                               <td>Thanh tien</td>
                           </tr>
                           <tr ng-repeat ="item in list_item" ng-init="item.quantity=1;">
                            <td><input ng-model="item.buy" type="checkbox" name="" id=""></td>
                            <td> {{item.name}}</td>
                            <td><input type="number" ng-model="item.quantity" ng-disabled= "!item.buy"></td>
                            <td>{{item.price|currency}}</td>
                            <td>{{item.price * item.quantity}}</td>
                        </tr>
                      
                       </tbody>
                   </table>
                </div>
                <div class="card-footer">
                   TONG TIEN {{getAmount()|currency}}
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    var app = angular.module("myApp", []);
  app.controller("myCtrl", function($scope){
      var amount = 0;
      $scope.getAmount = function(){
          for(var i = 0; i < $scope.list_item.length; i++){
              if($scope.list_item[i].buy){
                  amount += $scope.list_item[i].price * $scope.list_item[i].quantity;

              }
          }
          return amount;
      }
      $scope.list_item =[
          {
              name: "ca phe sua",
              price: 400
          },
          {
              name: "tra dao",
              price: 300
          },
          {
              name: "tra sua",
              price: 200
          },
          {
              name: "ca phe ",
              price: 100
          }
      ]
  })
        
</script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>