<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <style>
      input.ng-invalid{background-image: url('nerolinux.png'); background-position: right; background-repeat: no-repeat;}
  </style>
  <body ng-app="myApp" >
      <div class="container" ng-controller="myCtrl">
          <div class="row">
              <div class="col-sm-8 offset-sm-2">
                  <div class="card">
                      <div class="card-header">
                         Thong tin sinh vien
                      </div>
                      <div class="card-body">
                         <form name="frmsv" >
                            <div class="form-group">
                                <label >Ho va Ten</label>
                                <input  class="form-control" ng-model="name" required minlength="10" maxlength="50" type="text" name="txtName">
                            <label ng-show="frmsv.txtName.$invalid" class="alert alert-danger" >Ban chua nhap ten </label>
                            </div>
                            <div class="form-group">
                                <label >Diem</label>
                                <input  class="form-control" ng-model="mark" required  type="number" min="0" max="10" name="txtMark">
                            <label ng-show="frmsv.txtMark.$invalid" class="alert alert-danger" >Diem tu 0-10 </label>
                            </div>
                            <div class="form-group">
                                <label >Email</label>
                                <input  class="form-control" ng-model="soxe" required  type="text"  name="txtemail">
                            <label ng-show="frmsv.txtemail.$invalid" class="alert alert-danger" >Email sai </label>
                            </div>
                            <div class="form-group">
                                <label >So xe</label>
                                <input  class="form-control" ng-model="email" required  type="text" pattern="5\d-[A-Z]\d-((\d{4})|(\d{3}\.\d{2}))"  name="txtsoxe">
                            <label ng-show="frmsv.txtsoxe.$invalid" class="alert alert-danger" >So xe sai dinh dang</label>
                            </div>
                            <hr>
                            <button type="button" class="btn btn primary">Luu</button>
                            <label ng-show="frmsv.$valid" class="alert alert-success" >Chuc mung ban da nhap dung</label>

                        </form>
                      </div>
                      <div class="card-footer">
                          Footer
                      </div>
                  </div>

              </div>
          </div>
      </div>
      <script>
          var app = angular.module("myApp",[]);
          app.controller("myCtrl", function(){

          });
      </script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>